{%  extends "base.html" %}

{% block content_title %}
    Dishes <a href="/add_dish">Add new!</a>
{% endblock %}

{% block content %}
    <table style="width:100%" {{ table_hidden }}>
        <tr>
            <th>Dish name</th>
            <th class="col_width">Protein[g]</th>
            <th class="col_width">Carbohydrates[g]</th>
            <th class="col_width">Fat[g]</th>
            <th class="col_width">Energy val[kcal]</th>
        </tr>
        {% for dish in dish_set %}
        <tr>
            <td>{{ dish.name }}</td>
            <td align="center">{{ dish.dish_protein }}</td>
            <td align="center">{{ dish.dish_carbs }}</td>
            <td align="center">{{ dish.dish_fat }}</td>
            <td align="center">{{ dish.dish_kcal }}</td>
            <td>
                <form action='/dishes_list/' method='POST'>
                    {% csrf_token %}
                    <button type='submit' name="usuń" value={{ dish.id }}>delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
