{% extends "training_plan_list.html" %}

{% block content_before %}
    <form action='/training_types_add/' method='POST' {{ hidden }}>
        {% csrf_token %}
        {{ form.as_p }}
        <table>
            <tr>
                <th>Food product</th>
                <th>Weight</th>
            </tr>
            {{ dish_food_formset.management_form }}
            {% for form in dish_food_formset %}
            <tr style="width: 1%">
                <td>{{ form.food_product }}</td>
                <td>{{ form.food_product_weight }}</td>
            </tr>
            {% endfor %}
        </table>
        <input type='submit' value='Add'>
    </form>
{% endblock %}

{% block content_after %}
    {% if method == "POST" %}
        <br>
        <div style="text-align:center">
        <h1><a href="/training_types_list/">Show all training types!</a></h1>
        </div>
    {% endif %}
{% endblock %}