.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav h1 {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}


.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

.col_width {
    width: 150px;
}

button a {
    text-decoration: none;
    color: black;

}

.amiddle {
    alignment: center;
}

.without_bullets ul {
    list-style-type: none;
}

/* --__CONTACT SECTION__-- */
* {
  box-sizing: border-box;
}

/*!* Style inputs *!*/
/*input[type=text], select, textarea {*/
/*  width: 100%;*/
/*  padding: 12px;*/
/*  border: 1px solid #ccc;*/
/*  margin-top: 6px;*/
/*  margin-bottom: 16px;*/
/*  resize: vertical;*/
/*}*/

/*input[type=submit] {*/
/*  background-color: #111;*/
/*  color: #818181;*/
/*  padding: 12px 20px;*/
/*  border: none;*/
/*  cursor: pointer;*/
/*}*/

/*input[type=submit]:hover {*/
/*  background-color: #45a049;*/
/*}*/

/* Style the container/contact section */
.container {
  border-radius: 5px;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
